{% extends 'base.html.twig' %}

{% block title %}Liste UE attente{% endblock %}

{% block h1 %}UE en attente de validation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if mess is defined %}
  {{mess}}
{% endif %}
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>UE</th>
            <th>Nom</th>
            <th>Responsable</th>
            <th class="text-center">Détail</th>
        </tr>
    </thead>
    <tbody>
    {% for u in ue %}
        {% if u.validation == 1 %}
            <tr>
                <td class="align-middle">{{u.code_ue}}</td>
                <td class="align-middle">{{u.nom_ue}}</td>
                <td class="align-middle">Nom du responsable</td>
                {# <td><a href="/ficheUEattente/modif" class="uil uil-file-edit-alt"></td> #}
                {# <td class="align-middle text-center"> #}
                <td class="align-middle text-center">
                    <form method="POST" action="/ficheUEattente/consulter">
                        <input type="hidden" name="code" id="code" value="{{u.code_ue}}" />
                        <button type="submit" class="btn btn-success" name="modif"><i class="uil uil-hourglass"> Consulter</i></button>
                    </form>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}